<h1>Old English Translator Challenge</h1>
	<p>
		Instructions: When you click on a word a selection of 4 possible Mondern 
		English words will appear. Select your best guess at what the OE word
		translates to. When you have completed the sentence click the submit
		button and you will be told if your translation is correct or not.
	</p>
	<p>
		Note: The translation will not be in idiomatic Modern English due to
		changes in grammar over time.
	</p>
		
