<h1>Old English Translator Challenge</h1> 
<h3>by Samantha Scharr</h3>
<div id="riddle">
	Ic &#254;a wiht geseah 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	on weg feran
</div>
	<p>
		<b>Instructions:</b> Here you are presented with a short sentence in Old English.
		Beside each word ther is a drop menu with a selection of 4 possible Mondern English words. 
		From that menu select your best guess at what the Old English word translates to in Modern
		English. 
	</p>
	<p>
		When you are done click the submit button and you will be told if your translation is correct 
		or not. GOOD LUCK!
	</p>
	<p>
		Note: The translation will not be in idiomatic Modern English due to
		changes in grammar over time.
	</p>

<%= render 'form' %>


